main {
  margin: 0% 0 0 0;
  padding: 2vh 0 0 0;
  background: rgb(0, 0, 0);
  display: grid;
  overflow-x: hidden;
}
.line {
  color: white;
  width: 80%;
  margin-bottom: 4vh;
  /* margin:0; */
}
main header {
  color: white;
  display: grid;
  width: 80%;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, clamp(360px, 50%, 52%));
  justify-content: center;
}
header img {
  width: 96%;
  border-radius: 8px;
  align-self: center;
}
header div h1 {
  text-align: center;
  font-size: clamp(34px, 3.6vw, 3.8vw);
}

header div p {
  text-align: start;
  font-size: clamp(18px, 1.6vw, 1.8vw);
  /* line-height: 6vh; */
}

main section {
  color: white;
  display: grid;
  justify-self: center;
  justify-items: center;
  width: 100%;
  /* background: green;  */
  margin: 2vh 0 5vh 0;
}
.firstdiv {
  /* background: red; */
  display: grid;
  width: 72%;
  justify-items: center;
  grid-template-columns: 22% 22% 22% 22%;
  column-gap: 4%;
}
section h1 {
  font-size: clamp(26px, 2.4vw, 2.6vw);
}
section p,
article p,
section img {
  text-align: center;
  margin: 0 0 4vh 0;
}
section div p,
article p {
  opacity: 0.6;
}
h6 {
  color: rgb(135, 97, 168);
  margin: 5vh 0 2vh 0;
}
.sectiondiv {
  width: 100%;
  display: grid;
  justify-items: center;
  /* background:yellow; */
}
.imgillus {
  margin: 0;
}
.pillus {
  text-align: start;
  z-index: 0;
}
article {
  color: white;
  width: 100%;
  overflow-x: hidden;
  display: grid;
  /* background:violet; */
  justify-items: center;
}
article h1 {
  font-size: clamp(30px, 2.4vw, 2.5vw);
  text-align: center;
}

.articlediv1 {
  width: 80%;
}
.articleimg {
  width: 80%;
  /* background: purple; */
  display: grid;
  justify-content: center;
  grid-template-columns: 23% 22% 23% 23%;
  column-gap: 3%;
}
.imgtree {
  width: 100%;
  object-fit: cover;
}
menu {
  color: white;
  display: grid;
  /* background: red; */
  padding: 0;
  justify-items: center;
  overflow-x: visible;
}
menu h1 {
  font-size: clamp(24px, 2.4vw, 2.6vw);
  margin: 1vh 0 4vh -4vw;
}
.rope2 {
  width: 5%;
  margin: 0;
  /* font-size:clamp(60px, 1.2vw,1.4vw); */
}
.phasecon {
  /* background: yellow; */
  width: 56%;
  display: grid;
  justify-items: center;
  margin: 0 0 5vh 0;
}
.eachcon {
  /* background: purple; */
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 54%;
  column-gap: 14%;
}
.imggallery {
  width: 70%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10%;
  column-gap: 7vw;
  margin: 0 0 0 -12vw;
  /* background:red; */
}

.workerinfo {
  /* background:red; */
  width: 80%;
  display: grid;
  justify-self: center;
  color: white;
}
.infoh1 {
  margin: 3vh 0 8vh 0;
}
.moreinfo {
  display: grid;
  grid-template-columns: 23% 23% 21% 23%;
  column-gap: 2%;
}
.more2 {
  display: flex;
  /* background:green; */
}
.imginfo {
  border: none;
  border-radius: 50%;
  margin: 0 4% 0 0;
  width: 50%;
}
.marg, .marg1{
  margin: 0 0 -0.8vh 0;
  font-size: clamp(16px, 1.2vw, 1.6vw);
}
.parg, .parg1{
  color: rgb(135, 97, 168);
  font-size: clamp(11.5px, 1.2vw, 1.6vw);
}

.fixedbtn {
  position: fixed;
  top: 92%;
  right: 3vw;
  background: rgb(54,29,79);;
  border-radius: 50%;
  border:none;
  padding: 2vh;
}


@media screen and (max-width: 1136px) and (min-width:1037px){
 .line {
  width: 80%;
  margin:0 0vw 4vh 5vw;
  /* margin:0; */
}
main header {
  margin:0 0 0 -10vw;
}
main section{
  margin: 0 0 0 -10vw;
}
main article{
  margin: 0 0 0 -6.5vw;

}
.imggallery{
  margin: 0 0 0 -16vw
}
}



@media all and (max-width: 1036px) {
  /* header div p {
    line-height: 4vh;
  } */
  .firstdiv {
    grid-template-columns: 48% 48%;
  }
  .articleimg {
    grid-template-columns: 48% 48%;
    column-gap: 3%;
  }
  .imggallery {
    grid-template-columns: 30% 30% 30%;
    column-gap: 3vw;
    row-gap: 3vh;
    margin: 0 0 0 0;
  }
  .moreinfo {
    grid-template-columns: 28% 28%;
    column-gap: 20%;
    row-gap: 4vh;
  }
  .imginfo {
    width: 70%;
  }
  .marg {
    margin: 0 0 1vh 0;
  }
}

@media all and (max-width: 500px) {
  .firstdiv {
    width: 96%;
    grid-template-columns: 100%;
  }
  .pillus {
    text-align: center;
  }
  .articleimg {
    grid-template-columns: 100%;
  }

  .phasecon {
    width: 100%;
    margin: 0 0 5vh 0;
  }
  .imggallery {
    grid-template-columns: 100%;
    row-gap: 5vh;
    /* background:red; */
    /* margin: 2vh 0 0 20%; */
  }
  .workerinfo {
    width: 100%;
    /* background: red; */
    padding: 0 0 0 8%;
  }

  .moreinfo {
    width: 100%;
    /* background: violet; */
    /* overflow-x:hidden; */
    grid-template-columns: 35% 35%;
  }
  .imginfo {
    width: 80%;
    object-fit: cover;
  }
  .more2 {
    display: block;
    /* background:green; */
    margin: 0 0 0 5vw;
  }
  .glitch {
    /* background:red; */
    width: 100%;
  }
  .marg, {
    margin: 0 0 0vh 0;
    text-align: center;
  }
  .marg1{
    margin: 0 0 0 3.4vw
  }
  .parg1{
    margin: 0 0 0 4.8vw

  }
  .parg {
    font-size: 14px;
    text-align: center;
    margin: 0 0 0vh 0;

  }
}
