main {
  margin: 0;
  padding: 2vh 0 0 0;
  background: rgb(0, 0, 0);
  display: grid;
}
.line {
  color: white;
  width: 70%;
  /* text-align:center; */
}
main header {
  color: white;
  display: grid;
  width: 80%;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, clamp(360px, 50%, 52%));
  justify-content: center;
}
header img {
  width: 96%;
  border-radius: 8px;
  align-self: center;
}
header div h1 {
  text-align: center;
  font-size: clamp(34px, 3.6vw, 3.8vw);
}

header div p {
  text-align: start;
  font-size: clamp(18px, 1.6vw, 1.8vw);
  /* line-height: 6vh; */
}

main section {
  color: white;
  display: grid;
  justify-self: center;
  justify-items: center;
  width: 80%;
  /* background: red; */
  margin: 2vh 0 5vh 0;
}
.firstdiv {
  display:grid;
  grid-template-columns: repeat(auto-fit, clamp(350px, 50%, 56%));
}
section h1{
    font-size: clamp(34px, 2.4vw,2.6vw);
}
section p,
section img {
  text-align: center;
  margin: 0 0 4vh 0;
}
section div p {
  opacity: 0.6;
}
section h6 {
  color: rgb(135, 97, 168);
  margin: 2vh 0 2vh 0;
}
.sectiondiv {
  width: 100%;
  display: grid;
  justify-items: center;
}

@media all and (max-width: 900px) {
  header div p {
    line-height: 4vh;
  }
}
