.header {
  background: url("../images/background.gif");
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  display: grid;
  justify-items: center;
  width: 100%;
  /* position:relative; */
  /* position: absolute;
  top: 0%;*/
  padding: 0 0 8vh 0;
  color: white;
}
.mainhcon {
  /* background: purple; */
  display: grid;
  width: 80%;
  margin: 0;
  padding: 0;
  grid-template-columns: 40% 40%;
  column-gap: 20%;
  height: 60%;
  align-self: center;
}
.firstb {
  /* background: yellow; */
  /* padding: 0 0 0 3vw; */
  display: grid;
  justify-items: center;
  align-items: start;
}
.cntdiv {
  /* background: brown; */
  width: 80%;
  height: 30%;
  padding: 25% 0 0 0;
}
.headh1 {
  font-size: 60px;
  margin: 0 0 8vh 0;
  line-height: 60px;
  font-family: 700;
}
.h-p {
  font-weight: 100;
  font-size: 40px;
  margin: 0vh 0 36px 0;
  padding: 0;
  line-height: 60px;
}

#smicolon2 {
  width: 8%;
  margin: 0 1vw 0 0;
  padding: 1vh;
  /* background:red; */
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius:50%;
}

.secondb {
  /* background: green; */
  display: grid;
  justify-items: center;
}
.secondb2 {
  width: 80%;
  display: grid;
  justify-items: center;
  /* background: pink; */
}
.head12 {
  font-size: clamp(26px, 2.8vw, 3vw);
  text-align: center;
  background: rgb(0, 0, 0, 0.6);
  margin: 0;
  padding: 2vh 0 2vh 0;
  width: 100%;
}

.himgcol {
  margin: 0;
  /* background:red; */
}
.puppyimg {
  width: 100%;
}
.headbtn {
  padding: 3vh 3vw 3vh 3vw;
  margin: 6vh 0 20vh 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: rgb(247, 190, 104);
  color: white;
}
.headbtn:hover {
  background: rgb(245, 183, 90);
}

@media all and (max-width: 1500px) {
  .headh1 {
    font-size: 40px;
    margin: 0 0 8vh 0;
    line-height: 60px;
    font-family: 700;
  }
  .h-p {
    font-weight: 100;
    font-size: 30px;
    margin: 0vh 0 36px 0;
    padding: 0;
    line-height: 60px;
  }
}

@media screen and (max-width: 1036px) and (orientation: portrait) {
  .header {
    display: block;
    /* background:red; */
  }
  .firstb {
    display: block;
    padding: 0 0 0 10%;
    /* background:red; */
  }
  .mainhcon {
    display: block;
    /* background:purple; */
    width: 100%;
  }
  .headh1 {
    font-size: 40px;
    margin: 0 0 36px 0;
    line-height: 40px;
  }
  .h-p {
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 36px;
  }
  .himgcol {
    /* background:violet; */
  }
  #smicolon2 {
    margin: 0 3vw 0 0;
    width: 6%;
  }
  .secondb2 {
    width: 86%;
  }
  .headbtn {
    padding: 1.5vh 3vw 1.5vh 3vw;
    font-size: 20px;
    margin: 10vh 0 0vh 0;
  }
}

@media screen and (max-width: 1036px) and (orientation: landscape) {
  .header {
    display: block;
    /* background:green; */
  }
  .firstb {
    display: block;
    padding: 0 0 0 10%;
    /* background:red; */
  }
  .mainhcon {
    display: block;
    /* background:purple; */
    width: 100%;
  }
  .headh1 {
    font-size: 60px;
    margin: 0 0 36px 0;
    line-height: 40px;
  }
  .h-p {
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 36px;
  }
  .himgcol {
    /* background:violet; */
  }
  #smicolon2 {
    margin: 0 3vw 0 0;
    width: 4.5%;
  }
  .secondb2 {
    width: 80%;
  }
  .headbtn {
    padding: 1.5vh 3vw 1.5vh 3vw;
    font-size: 20px;
    margin: 10vh 0 0vh 0;
  }
}

/* @media all and (max-width:900px){
  .header{
    height:156vh;
  }
  .secondb2{
    width:70%;
  }
  
}

@media all and (max-width:600px){
  .header{
    height:140vh;
  }
  .secondb2{
    width:82%;
  }
} */

@media screen and (max-width: 500px) and (orientation: portrait) {
  .header {
    display: block;
    /* background:yellow; */
  }
  .firstb {
    display: block;
    padding: 0 0 0 4%;
  }
  .mainhcon {
    display: block;
    /* background:purple; */
    width: 100%;
  }

  .himgcol {
    /* background:violet; */
  }
  #smicolon2 {
    margin: 0 3vw 0 0;
    width: 8%;
    padding: 0.6vh;
  }
  .secondb2 {
    width: 94%;
  }
}
