.header {
  background: url("../images/background.gif");
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  display: grid;
  justify-items: center;
  width: 100%;
  /* position:relative; */
  /* position: absolute;
  top: 0%;*/
  height: 100vh;
  padding: 0 0 8vh 0;
  color: white;
}
.mainhcon {
  /* background: purple; */
  display: grid;
  width: 80%;
  margin: 0;
  padding: 0;
  grid-template-columns: 40% 40%;
  column-gap: 20%;
  height: 60%;
  align-self: center;
}
.firstb {
  /* background: yellow; */
  /* padding: 0 0 0 3vw; */
  display: grid;
  justify-items: center;
  align-items: start;
}
.cntdiv {
  /* background: brown; */
  width: 80%;
  height: 30%;
  padding: 25% 0 0 0;
}
.headh1 {
  font-size: clamp(40px, 3.6vw, 4vw);
  margin: 0 0 8vh 0;
  line-height: 7vh;
}
.h-p {
  font-weight: 100;
  font-size: clamp(30px, 2.8vw, 3vw);
  margin: 0vh 0 0vh 0;
  padding: 0;
}

#smicolon2 {
  width: 5.5%;
  margin: 0 0.8vw 0 0;
  padding:1vh;
}

.secondb {
  /* background: green; */
  display: grid;
  justify-items: center;
}
.secondb2 {
  width: 80%;
  display: grid;
  justify-items: center;
  /* background: pink; */
}
.head12 {
  font-size: clamp(26px, 2.8vw, 3vw);
  text-align: center;
  background: rgb(0, 0, 0, 0.6);
  margin: 0;
  padding: 2vh 0 2vh 0;
  width:100%
}

.himgcol {
  margin: 0;
}
.puppyimg {
  width: 100%;
}
.headbtn {
  padding: 2vh 2vw 2vh 2vw;
  margin: 6vh 0 0 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: rgb(247, 190, 104);
  color: white;
}
.headbtn:hover {
  background: rgb(245, 183, 90);
}

@media all and (max-width:1036px){
 .header{
    display:block;
    /* background:red; */
    height:105vh;
  }
  .firstb{
    display:block;
    padding: 0 0 0 10%;
    /* background:red; */
  }
  .mainhcon{
    display:block;
    /* background:purple; */
    width:100%;
  }
  .himgcol{
    /* background:violet; */
  }
  #smicolon2{
    margin:0 3vw 0 0;
  }
  .secondb2{
    width:66%;
  }
}

@media all and (max-width:900px){
  .header{
    height:160vh;
  }
  .secondb2{
    width:80%;
  }
}

@media all and (max-width:600px){
  .header{
    height:140vh;
  }
  .secondb2{
    width:82%;
  }
}

@media all and (max-width:500px){
  .header{
    display:block;
    /* background:red; */
    height:120vh;
  }
  .firstb{
    display:block;
    padding: 0 0 0 4%;
  }
  .mainhcon{
    display:block;
    /* background:purple; */
    width:100%;
  }
  .himgcol{
    /* background:violet; */
  }
  #smicolon2{
    margin:0 3vw 0 0;
  }
  .secondb2{
    width:94%;
  }
}