body{
  /* overflow-x:hidden; */
}
nav {
  position: absolute;
  top: 0vh;
  display: grid;
  width: 99.9%;
  margin: 0;
  padding: 0 0 0 0;
  /* justify-items: center; */
  /* background: red; */
}
.navmain {
  /* background: orange; */
  width: 90%;
  display: grid;
  grid-template-columns: 68% 29.5%;
  column-gap: 2vw;
  color: white;
  /* position: fixed; */
  padding: 0 5vw 0 5vw;
}
.navmainactive {
  background: rgb(10,10,10);
  border-bottom: 2px solid rgb(245,245,245);
  width: 90%;
  display: grid;
  grid-template-columns: 68% 29.5%;
  column-gap: 2vw;
  color: white;
  position: fixed;
  padding: 0 5vw 0 5vw;
  z-index:100;
  align-items:center;
}
.div {
  /* background: yellow; */
  display: flex;
}
.Nh1{
  /* font-family:Gilroy-light; */
  font-size:27px;
  font-weight:100;
}
.ul {
  /* background: gold; */
  display: flex;
  list-style: none;
  justify-content: space-between;
}
li {
  font-size: clamp(16px, 1.2vw, 1.7vw);
  cursor: pointer;
}
li:hover {
  border-bottom: 2px solid white;
  /* margin: 0 0 0 2vw; */
}
a{
  color:white;
  text-decoration:none;
}
.Navimg {
  /* background: red; */
  width: 7%;
  object-fit: cover;
  margin: 0 2vw 0 0;
}
.menu1,
.menu2 {
  display: none;
}


@media all and (max-width: 1200px) {
  .navmain {
    display: block;
    width: 100%;
    padding: 0;
    margin:0;
    padding: 0 0% 0 0%;
    /* background: violet; */
  }
  .div {
    background: transparent;
    width: 90%;
    padding: 0 3% 0 7%;
  }
  .div1 {
    background: black;
    display:flex;
    width: 90%;
    padding: 0 3% 0 7%;
    margin:0 0 0 0;
  }
  .navmainactive {
    width: 90%;
    /* background:red; */
  }
  .Navimg {
    width: 6%;
  }
  
  .ul {
    display: none;
  }
  .ulactive {
    display: block;
    background: black;
    width: 92%;
    position:absolute;
    left: 0;
    top:100%;
    padding: 3vh 0 0 8%;
    height: 99vh;
    list-style:none;
    margin:0;
    z-index:100;
  }
  li {
    /* font-size:24px; */
    margin: 0 0 1.4vh 0;
  }
  li:hover {
    border-bottom: 0px;
  }
  .menu1,
  .menu2 {
    display: block;
    position: absolute;
    top: 3vh;
    right: 3%;
    /* background: red; */
    width: 5.8%;
  }

  .menu2 {
    display: none;
  }
}


@media all and (max-width: 1036px) {
  .navmain {
    display: block;
    width: 100%;
    padding: 0;
    margin:0;
    padding: 0 0% 0 0%;
    /* background: violet; */
  }
  .div {
    /* background: yellow; */
    width: 90%;
    padding: 0 3% 0 7%;
  }
  .div1 {
    background: black;
    display:flex;
    width: 90%;
    padding: 0 3% 0 7%;
    margin:0 0 0 0;
  }
  .navmainactive {
    width: 90%;
    /* background:red; */
  }
  .Navimg {
    width: 6%;
  }
  .ul {
    display: none;
  }
  .ulactive {
    display: block;
    background: black;
    width: 92%;
    position:absolute;
    left: 0;
    top:100%;
    padding: 3vh 0 0 8%;
    height: 99vh;
    list-style:none;
    margin:0;
    z-index:100;
  }
  li {
    /* font-size:24px; */
    margin: 0 0vw 1.4vh 10vw;
  }
  li:hover {
    border-bottom: 0px;
  }
  .menu1,
  .menu2 {
    display: block;
    position: absolute;
    top: 3vh;
    right: 3%;
    /* background: red; */
    width: 5.8%;
  }

  .menu2 {
    display: none;
  }
}

@media all and (max-width: 500px) {
  /* .navmain {
    width: 90%;
    padding: 0;
  } */
  .Navimg {
    width: 10%;
  }
  .Nh1{
    font-size:24px;
  }
  .menu1,
  .menu2 {
    width: 7.8%;
  }
}
