nav {
  position: absolute;
  top: 0vh;
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0 0 0 0;
  justify-items: center;
  /* background: red; */
}
.navmain {
  /* background: orange; */
  width: 90%;
  display: grid;
  grid-template-columns: 68% 29.5%;
  column-gap: 2vw;
  color: white;
  position: fixed;
  padding: 0 5vw 0 5vw;
}
.navmainactive {
  background: black;
  border-bottom: 2px solid white;
  width: 90%;
  display: grid;
  grid-template-columns: 68% 29.5%;
  column-gap: 2vw;
  color: white;
  position: fixed;
  padding: 0 5vw 0 5vw;
}
.div {
  /* background: yellow; */
  display: flex;
}
.ul {
  /* background: gold; */
  display: flex;
  list-style: none;
  justify-content: space-between;
}
li {
  font-size: clamp(20px, 1.2vw, 1.7vw);
  cursor: pointer;
}
li:hover {
  border-bottom: 2px solid white;
}
.Navimg {
  /* background: red; */
  width: 7%;
  object-fit: cover;
  margin: 0 2vw 0 0;
}
.menu1,
.menu2 {
  display: none;
}

@media all and (max-width: 1036px) {
  /* body{
    overflow:hidden;
  } */
  .navmain {
    /* width:80%; */
    grid-template-columns: 80% 20%;
    display: block;
    /* background:black; */
    width: 90%;
    padding: 0;
    /* height: 100vh; */
  }
  .navmainactive {
    width: 90%;
  }
  .Navimg {
    width: 6%;
  }
  .ul {
    display: none;
    /* background:red; */
    padding: 0 0 0 18%;
  }
  li {
    /* font-size:24px; */
    margin: 0 0 1.4vh 0;
  }
  li:hover {
    border-bottom: 0px;
  }
  .menu1,
  .menu2 {
    display: block;
    position: absolute;
    top: 3vh;
    right: 3%;
    background: red;
    width: 5.8%;
  }

  .menu2 {
    display: none;
  }
}

@media all and (max-width: 500px) {
  .navmain {
    width: 90%;
    padding: 0;
  }
  .Navimg {
    width: 15%;
  }
  .menu1,.menu2{
    width:7.8%;
  }
}
