footer {
  margin: 0;
  padding: 10vh 0 0 0;
  display: grid;
  background: rgb(0, 0, 0);
  /* background: red; */
  width: 100%;
  justify-items: center;
  /* align-items:center;
    height:60%; */
}
.maincon {
  /* background: violet; */
  width: 70%;
  display: grid;
  grid-template-columns: 20% 30% 22% 25%;
  column-gap: 2vw;
  height: 20vh;
  align-items: center;
}
.fimg {
  width: 30%;
}
.h5 {
  color: yellow;
}
.iconcon {
  display: flex;
  margin: 0;
  /* background: red; */
  justify-content: space-between;
}
.smicons {
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 2vw 0 0;
  padding:0.8vh;
  width: 100%;
}
.imgid {
  width: 50%;
}
footer p {
  color: white;
}

@media all and (max-width: 1036px) {
  .maincon {
    grid-template-columns: 40% 50%;
    height: 100%;
    padding: 0 0 0 3%;
  }
  .imgid {
    width: 70%;
  }
}

@media all and (max-width: 500px) {
  .fimg {
    width: 14%;
  }

  footer,
  .maincon {
    display: block;
  }
  .iconcon {
    width: 80%;
  }
   .smicons {
    margin: 0 3vw 0 0;
    padding:1.4vh;
  } 
  .imgid {
    width: 50%;
  }
}
